@import './Mixins';

.user-forms {
    position: relative;
    width: 100%;
    height: 100vh;

    .cnv {
        @include flexContent(center, column);

        padding: 10%;
        width: 100%;
        height: 100%;

        h1 {
            @include transformTL(50%, 7.5%);
            transform: translate(-50%, -50%);

            color: #fff;
            font-size: 3.5rem;
            font-weight: bold;
            text-shadow: 1px 1px 10px rgb(0, 153, 255);
        }

        form {
            @include flexContent(center, column);

            input {
                margin: 0.25rem 0;
                padding: 0.25rem 0;
                color: rgba(0, 0, 0, 0.541);
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.212);
                font-size: 1.3rem;
                text-align: center;
                outline: none;
                background: none;
                transition: 0.2s;

                &:focus {
                    border-bottom: 1.5px solid #000;
                }
            }

            button {
                margin-top: 1rem;
                padding: 12px 25px;
                border: 1px solid rgba(0, 0, 0, 0.212);
                border-radius: .1rem;
                font-size: 1.3rem;
                letter-spacing: 2px;
                outline: none;
                background: none;
                transition: .2s;

                &:hover {
                    color: #fff;
                    background: #000;
                }
            }
        }

        p {
            @include transformTL(50%, 75%);
            transform: translate(-50%, -50%);

            color: rgba(0, 0, 0, 0.568);
            text-align: center;
        }
    }

    .background {
        @include transformTL(0, 0);

        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
